.buttons{
    display: flex;
    flex-direction: column;
}

.op{
    background-color: rgb(234, 83, 171)!important;
    color: white;
}

.buttons > div > button{
    font-size: 25px;
    background-color: white;
    border: none;
    padding: 15px 20px;
    height: 75px;
    width: 70px;
    margin-top: 5px;
    border-radius: 9px;
}

.buttons > div > button:hover{
    cursor: pointer;
}

.line_{
    display: flex;
    justify-content: space-between;
}