.screen-sec{
    width: 50%;
    display: flex;
    justify-content: center;
}

.screen{
    width: 100%;
    background-color: rgb(159, 182, 203);
    height: 10vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 20px;
}